# Virtual environment
LifestylePrediction/Lifestyle/flask_app/venv/

# ML models
LifestylePrediction/Lifestyle/flask_app/Model/
*.h5
*.pt
*.pth
*.pkl

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env